@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Emprestimos online</h1>
    <p>Abra um Livro , deixe-se levar. Um mundo novo voce vai encontrar !  </p>
    <div>
        <img src="/img/livroo.png"/>
    </div>
</div>
